<p class="text-center">
  <%= link_to '+ Add Event', new_event_path, class: 'btn btn-primary' %>
</p>

<% unless @events.empty? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card-content">
          <%= image_tag event.image_url, class: 'card-img' %>
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text"><%= event.date %> <%= event.owner.nick %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @owned_events.empty? %>
  <div class="row">
    <% @owned_events.each do |event| %>
      <div class="col-md-4">
        <div class="card-content">
            <%= image_tag event.image_url, class: 'card-img' %>
            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><%= event.date %> <%= event.owner.nick %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
