<p class="text-center dashboard-title"><%= @event.name %></p><br />
<div class="row">
  <div class="card-center">
    <div class="card-content">
      <%= image_tag @event.image_url, class: 'card-img' %>
      <div class="card-body">
        <h5 class="card-title"><%= @event.name %></h5>
        <p class="card-text">
          <%= @event.date.strftime("%d/%m/%Y") %> <%= @event.owner.nick %>
          <br/>
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<p class="text-center"><%= link_to "Go to events list", events_path %></p>
