<p class="text-center dashboard-title"><%= @product.name %></p><br />
<div class="row">
  <div class="card-center">
    <div class="card-content" style="width: 500px">
      <div class="card-body">
        <div class="card-text">
          <p>Organizer: <%= @product.event.owner.nick %></p>
          <p>Price: <%= @product.price %> PLN</p><br/>
          <p>Participants costs:</p>
          <% @product.users_products.each do |users_product| %>
            * <%= users_product.user.nick %> - <%= users_product.amount.round(2) %> PLN<br />
            <% if current_user == users_product.user && users_product.is_paid %>
              <%= link_to 'Pay_bill', event_product_pay_bill_path(@product.event.id, @product.id), class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<p class="text-center"><%= link_to "Go to event", event_path(@product.event.id) %></p>
