<!DOCTYPE html>
<html>
  <head>
    <title>Splitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat' %>
  </head>

  <body>
    <% if current_user.present? %>
      <div id="events-page-background"></div>
      <div class="navbar">
        <div id="debts">
          <p>You owe: 0 PLN</p>
          <p>Others owe you: 0 PLN</p>
        </div>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    <% else %>
      <div id="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
