<!DOCTYPE html>
<html>
  <head>
    <title>Splitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Montserrat' %>
  </head>

  <% if current_user.present? %>
    <body id="events-page-background">
      <div class="navbar">
        <div id="debts">
          <p>You owe: <%= current_user.users_debt_count.round(2) %> PLN</p>
          <p>Others owe you: <%= current_user.others_debt_count.round(2) %> PLN</p>
        </div>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </body>
  <% else %>
    <body id="full-screen-background">
        <div id="container">
          <%= yield %>
        </div>
    </body>
  <% end %>
</html>
